@import 'normalize.css';
@import 'mediaqueries.css';
/* Estoy en cabecera con titulos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 80%;
    display: grid;
    grid-template-rows: auto-fill 20vh 70vh 10vh;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
    font-family: 'Quicksand', sans-serif;
    background-color: #0a1f44;
}

header#cabecera {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 2rem;
}

.tituloCabecera {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    width: 100vw;
    height: 50%;
    color: rgb(226, 222, 222);
    animation: fadeEnter 0.5s ease-in-out 1s both;
}

.button {
    padding: .5rem;
}

h1#titulo1::before {
    content: '☀️';
}
h2#titulo2::after {
    content: '🌧️';
}


#search-container {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 1rem;
    gap: 1rem;
    grid-template-areas: 
    'a a'
    'b c';
}

input#search {
    border: none;
    background-color: #0a1f44;
    border-bottom: 1px solid black;
    cursor: text;
    color: gray;
    grid-area: a;
}



button#submit {
    border: none;
    cursor: pointer;
    background-color: #ff1e42;
    border-radius: 5%;
    color: rgb(226, 222, 222);
    font-weight: bolder;
    font-size: 1.5rem;
    grid-area: b;
}

button#gps-search {
    cursor: pointer;
    border-radius: 5%;
    border-style: none;
    background-image: url('/images/gps_fixed.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ff1e42;
    grid-area: c;
}

main#container {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;

}

article#card {
    border: 1px solid black;
    background-color: burlywood;
    width: 90%;
    height: 400px;
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 20%;
    background-color: rgb(226, 222, 222);
    box-shadow: 5px 5px 10px 2px black;
    animation: fadeEnter 0.2s ease-in-out 0.2s both;
}

header#header-card {
    width: 100%;
    height: 10%;
    font-size: 1.2em;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: bolder;
}

h1#grados {
    width: 100%;
    height: 20%;
    font-size: 2.7rem;
    margin: 0;
    margin-top: 1rem;
    padding-right: 1rem;
    text-align: end;

}

h2#humidity {
    text-align: end;
    display: none;
}

img#weather-icon {
    width: 100%;
    height: 50%;
    text-align: center;
}



footer#footer-card {
    width: 100%;
    height: 10%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-style: italic;
}

footer#footer-card::first-letter {
    text-transform: uppercase;
}

p#mensajeError {
    text-align: center;
    font-size: 1.5rem;
}

footer#footer {
    color: rgb(226, 222, 222);
    text-align: center;
}




@media (min-width: 640px) {
    header#cabecera {
        display: grid;
        grid-template-areas: 
        'a b'
        'c c';
    }
    #titulo1 {
        grid-area: a;
        text-align: right;
    }
    #titulo2 {
        grid-area: b;
        text-align: left;
    }
    #titulo1, #titulo2 {
        min-width: 30vw;
        width: 50vw;
        font-size: 5rem;
    }
    section#search-container {
        grid-area: c;
        display: flex;
        justify-content: center;
    }
    input#search {
        width: 60vw;
        font-size: 2rem;
        margin-right: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    button#submit {
        width: 10vw;
        height: 100px;
        font-size: 1.5rem;
        margin: 1px;
        padding: 1rem;
    }
    button#gps-search {
        width: 10vw;
        height: 100px;
        margin: 1px;
        background-size: contain;
    }
    main#container {
        margin-top: 2rem;
    }
    article#card {
        width: 50%;
        height: 60vh;
        padding: 1.5rem;
        flex-direction: column;
    }
    header#header-card {
        margin-top: 1.5rem;
        font-size: 2.5rem;
        width: 40%;
    }
    h1#grados {
        font-size: 4.5rem;
        margin-top: 0;
        width: 100%;
        text-align: end;
    }
    h2#humidity {
        display: inline;
    }
    footer#footer-card {
        font-size: 1.5rem;
    }
    footer#footer {
        margin-top: 1rem;
    }
}

@keyframes fadeEnter {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
